{% extends 'shared/_layout.html' %}

{% block title %}Blog - Home{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-3 bg-light">
        {% include 'category/list.html' %}
    </div>
    <div class="col-9">
        <div class="d-flex align-content-center mt-4">
            <h4 class="">Latest posts</h4>
            <a class="btn btn-success ms-5" href="{% url 'post_create' %}">New post</a>
        </div>
        <div class="row mt-4">
            {% for post in posts %}
            {% include 'shared/post_card.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}