<h4 class="my-4">Categories</h4>
{% for cat in categories %}
<div>
    <div class="mb-3 d-flex justify-content-between">
        <a href="{% url 'category_details' cat.id %}">
            {{ cat.name }}
        </a>
        {% if user.is_authenticated %}
        <div class="d-inline-block mx-3">
            <form method="POST" action=" {% url 'category_toggle_subscribe' cat.id %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-sm" type="submit">
                    {% if user in cat.subscribers.all %}
                    Unsubscribe
                    {% else %}
                    Subscribe
                    {% endif %}
                </button>
                {% comment %} <input class="btn btn-link" type="submit" value="subscribe"> {% endcomment %}
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}
